//doctype html
extends admin-course

block admin-course-modal


  // JS
  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/bootstrap.min.js')
  script(type='text/javascript', src='/js/scripts.js')
  // Isotope - Portfolio Sorting
  script(type='text/javascript', src='/js/jquery.isotope.js')
  // Mobile Menu - Slicknav
  script(type='text/javascript', src='/js/jquery.slicknav.js')
  // Animate on Scroll
  script(type='text/javascript', src='/js/jquery.visible.js', charset='utf-8')
  // Slimbox2
  script(type='text/javascript', src='/js/slimbox2.js', charset='utf-8')
  // Modernizr
  script(src='/js/modernizr.custom.js', type='text/javascript')
  // End JS
