//doctype html
//
  JavaScripts
  ==========================
// main jQuery
script(src='/js/vendor/jquery-1.11.1.min.js')
// Bootstrap
script(src='/js/bootstrap.min.js')
// jquery.nav
script(src='/js/jquery.nav.js')
// Portfolio Filtering
script(src='/js/jquery.mixitup.min.js')
// Fancybox
script(src='/js/jquery.fancybox.pack.js')
// Parallax sections
script(src='/js/jquery.parallax-1.1.3.js')
// jQuery Appear
script(src='/js/jquery.appear.js')
// countTo
script(src='/js/jquery-countTo.js')
// owl carousel
script(src='/js/owl.carousel.min.js')
// WOW script
script(src='/js/wow.min.js')
// theme custom scripts
script(src='/js/main.js')
script(src='/js/admin-news.js')
script(src='/js/admin-activities.js')
script(src='/js/admin-course.js')
script(src='/js/admin-career.js')

//news add-in js
script(src='http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js')
script(src='/dist/vis.js')
link(href='/dist/vis.css', rel='stylesheet', type='text/css')
script(src='/dist/googleAnalytics.js')
script(type='text/javascript', src='/ckeditor/ckeditor.js')