//doctype html
// Mobile Specific Meta
meta(name='viewport', content='width=device-width, initial-scale=1')
// Always force latest IE rendering engine
meta(http-equiv='X-UA-Compatible', content='IE=edge')
// Meta Keyword
meta(name='輔仁大學', content='輔仁大學 高中生 入學 課程 活動 就業 消息')
// meta character set
meta(charset='utf-8')