//doctype html
//
  CSS
  =============================================
// Fontawesome
link(rel='stylesheet', href='/css/font-awesome.min.css')

// Fancybox
link(rel='stylesheet', href='/css/jquery.fancybox.css')

// owl carousel
link(rel='stylesheet', href='/css/owl.carousel.css')
//CORSE ADD
link(rel='stylesheet', href='/css/flexslider.css')
link(rel='stylesheet', href='/css/styles.css')
link(rel='stylesheet', href='/css/queries.css')
// Animate
link(rel='stylesheet', href='/css/animate.css')
// Main Stylesheet
link(rel='stylesheet', href='/css/main.css')
link(rel='stylesheet', href='/css/newstudent-news.css')
link(rel='stylesheet', href='/css/newstudent-activities.css')
link(rel='stylesheet', href='/css/newstudent-course.css')
link(rel='stylesheet', href='/css/newstudent-career.css')
// Main Responsive
link(rel='stylesheet', href='/css/responsive.css')
// Modernizer Script for old Browsers
script(src='/js/vendor/modernizr-2.6.2.min.js')
//
  Google Fonts
  =============================================
link(href='http://fonts.googleapis.com/css?family=Lato:400,300', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300', rel='stylesheet', type='text/css')
link(href='http://fonts.googleapis.com/css?family=Varela+Round', rel='stylesheet', type='text/css')
link(href='http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css', rel='stylesheet')
//- link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css', rel='stylesheet')
script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
// Bootstrap
link(rel='stylesheet', href='/css/bootstrap.min.css')
